extends header.pug
block content
     div.container
           div.row
                     div.col-md-8(style="margin-left: 30px")
                                    h3(style={color:'#fff'}) Premier League Fixtures
                                      table(class="table table-dark table-hover")
                                          tr
                                            th
                                            th
                                            th
                                            th Home
                                            th Draw
                                            th Away

                                          each user in users
                                           tr
                                                td !{user.date}
                                                td !{user.localteam}
                                                td !{user.visitorteam}
                                                td !{user.htvalue}
                                                td !{user.drawvalue}
                                                td !{user.vtvalue}

                                    h3(style={color:'#fff'})  League One Fixtures
                                        table(class="table table-dark table-hover")
                                            tr
                                                th
                                                th
                                                th
                                                th Home
                                                th Draw
                                                th Away
                                            each leagues in leagueone
                                             tr
                                                 td !{leagues.date}
                                                 td !{leagues.localteam}
                                                 td !{leagues.visitorteam}
                                                 td !{leagues.htvalue}
                                                 td !{leagues.drawvalue}
                                                 td !{leagues.vtvalue}
                     div.col-md-3
                         img(src='ball.jpg')



